{{!-- 

nav>h2+ul>li*3
> significa dentro
* significa quantidade
+ significa adição


--}}

<nav>
    <h2>Logo</h2>
    <ul>
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
    </ul>
</nav>
<hr>